<footer>
    <div class="footer-container">
        <div class="footer-container-row">
            <div class="footer-col">
                    <a href="https://budfor.com/">
                        <img src="img/Budfor.png" alt="Budfor Footer Logo">
                    </a>
                    <p>We bring forth all the possibilities for <b>maximized financial potential.</b></p>
            </div>
            <div class="footer-col">
                <h4>Sections</h4>
                    <ul>
                        <li><a href="https://budfor.com/budgeting">BUDGETING</a></li>
                        <li><a href="https://budfor.com/saving">SAVING</a></li>
                        <li><a href="https://budfor.com/investing">INVESTING</a></li>
                        <li><a href="https://budfor.com/borrowing">BORROWING</a></li>
                        <li><a href="https://budfor.com/small-business">SMALL BUSINESS</a></li>
                        <li><a href="https://budfor.com/taxes">TAXES</a></li>
                        <li><a href="https://budfor.com/travel">TRAVEL</a></li>
                        <li><a href="https://budfor.com/banking">BANKING</a></li>
                    </ul>
            </div>
            <div class="footer-col">
                <h4>Support</h4>
                    <ul>
                        <li><a href="https://budfor.com/about-us">About Us</a></li>
                        <li><a href="https://budfor.com/support">Support</a></li>
                        <li><a href="https://budfor.com/careers">Careers</a></li>
                        <li><a href="https://buiomedia.com/advertising">Advertise With Us</a></li>
                    </ul>
            </div>
            <div class="footer-col">
               <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <h4>Copyright © 2023 Budfor. All Rights Reserved.</h4>
    </div>
</footer>
