<header>
    <nav class = "nav"> 
        <i class="fa-solid fa-bars navOpenBtn"></i>
        <a href = "../index.html" class = "logo"><img src = "img/Budfor.png" alt = "Budfor Logo"></a>
        <ul class="navigation">
            <i class="fa-solid fa-xmark navCloseBtn "></i>
            <li><a href = "./budgeting.html">BUDGETING</a></li>
            <li><a href = "./saving.html">SAVING</a></li>
            <li><a href = "./investing.html">INVESTING</a></li>
            <li><a href = "./borrowing.html">BORROWING</a></li>
            <li><a href = "#">MORE<i class="fa-solid fa-arrow-down arrow-down"></i></a>
            <ul class = "dropdown">
                <li><a href = "./banking.html">BANKING</a></li>
                <li><a href = "./small-business.html">SMALL BUSINESS</a></li>
                <li><a href = "./taxes.html">TAXES</a></li>
                <li><a href = "./travel.html">TRAVEL</a></li>
                
            </ul>
            <li><a href = "../about-us.html">ABOUT US</a></li>
        </ul>
        <i class="fa-solid fa-magnifying-glass search-icon" id = "searchIcon"></i>
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass search-icon"></i> 
            <input type="text" placeholder="Search Here...">
        </div>
    </nav>      
</header>